[color]
	ui = true
[user]
	name = Joshua Peregrin
	email = johnjoshuaperegrin2@gmail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = manager
